<a href="https://colab.research.google.com/github/Ric-Royal/Code-Concepts/blob/main/Copy_of_NYC_Taxi_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taxi Fare

## Problem Definition & Data Understanding

Objective: Identify key factors influencing taxi fares and understand the dataset's structure.

### Key Factors Influencing Taxi Fares:

Trip Distance: Longer distances typically result in higher fares.

Time of Day: Peak hours may have different fare rates.

Day of the Week: Weekends and weekdays might show fare variations.

Pickup and Drop-off Locations: Certain areas may have standardized rates or surcharges.

Passenger Count: Some fares vary with the number of passengers.

Weather Conditions: Adverse weather can affect fare rates due to demand and traffic conditions

# Data Loading and Understanding

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from pyspark.sql import SparkSession

from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("NYC Taxi Fare Prediction").getOrCreate()

# Load dataset
df = spark.read.csv("/content/drive/MyDrive/original_cleaned_nyc_taxi_data_2018", header=True, inferSchema=True)

In [ ]:
# Display schema and sample data
df.printSchema()
df.show(5)

root
 |-- _c0: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour_of_day: integer (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- calculated_total_amount: double (nullable = true)

+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|_c0|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|year|month|day|day_of_week|hour_of_day|trip_duration|calculated_total_amount|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|  3|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|2018|    3| 29|          3|         13|       3317.0|     61.669999999999995|
|  4|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|2018|    3| 29|          3|         14|       3648.0|      62.46999999999999|
|  5|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|2018|    3| 29|          3|         14|       3540.0|     63.129999999999995|
| 10|          5.1|        1|                 N|           1|       26.5|  1.0|    0.5|      5.65|         0.0|          0.3|       33.95|               186|                 33|2018|    3| 29|          3|         16|       2585.0|     33.949999999999996|
| 12|        11.11|        1|                 N|           1|       45.5|  1.0|    0.5|     10.61|        5.76|          0.3|       63.67|               163|                138|2018|    3| 29|          3|         16|       4521.0|     63.669999999999995|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
only showing top 5 rows

In [ ]:
import requests

url = "https://drive.google.com/file/d/1zJkTCPou3GqIymPow6cdsR8NoCcowygP/view?usp=sharing"  # Modify file ID
output_path = "nyc_taxi_data.csv"

# Download file
response = requests.get(url)
with open(output_path, "wb") as f:
    f.write(response.content)

# Load into PySpark
df = spark.read.csv(output_path, header=True, inferSchema=True)

In [16]:
# Display schema and sample data
df.printSchema()
df.show(5)

root
 |-- _c0: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour_of_day: integer (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- calculated_total_amount: double (nullable = true)

+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|_c0|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|year|month|day|day_of_week|hour_of_day|trip_duration|calculated_total_amount|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|  3|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|2018|    3| 29|          3|         13|       3317.0|     61.669999999999995|
|  4|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|2018|    3| 29|          3|         14|       3648.0|      62.46999999999999|
|  5|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|2018|    3| 29|          3|         14|       3540.0|     63.129999999999995|
| 10|          5.1|        1|                 N|           1|       26.5|  1.0|    0.5|      5.65|         0.0|          0.3|       33.95|               186|                 33|2018|    3| 29|          3|         16|       2585.0|     33.949999999999996|
| 12|        11.11|        1|                 N|           1|       45.5|  1.0|    0.5|     10.61|        5.76|          0.3|       63.67|               163|                138|2018|    3| 29|          3|         16|       4521.0|     63.669999999999995|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
only showing top 5 rows